<% provide(:title, "Picture") %>

<div class="picturepost_show_wrapper pt-5">
  <div class="instacard-container">
    <%= render partial: 'pictureposts/instacard', locals: {picturepost: @picturepost}%>    
  </div>
</div>
